body {
  /* background-color: #061325; */
  background-color: #061325;
}
p {
  /* color: #7e8bb6; */
  color: #9da9bb;
}
.board-bg-primary {
  background-color: #0e1c2f;
}
.board-text-primary {
  color: #d8e2ef;
}

.board-text-secondary {
  color: #9da9bb !important;
}

.form-bg-primary {
  color: #d8e2ef;
  background-color: #132238;
}

.form-bg-primary:focus {
  color: #d8e2ef;
  background-color: #132238;
}
